.h-12{height: desk(12);}
.h-17{height: desk(17);}
.h-43{height: desk(43);}
.h-55{height: desk(55);}
.h-65{height: desk(65);}
.h-72{height: desk(72);}
.h-78{height: desk(78);}
.h-93{height: desk(93);}
.h-366{height: desk(366);}
.h-560{height: desk(560);}
.h-570{height: desk(570);}
.h-582{height: desk(582);}
.h-full{height: 100%;}

@media (max-width: 767px){
  .sm-h-0{height: 0;}
  .sm-h-12{height: mov(12);}
  .sm-h-17{height: mov(17);}
  .sm-h-43{height: mov(43);}
  .sm-h-50{height: mov(50);}
  .sm-h-51{height: mov(51);}
  .sm-h-74{height: mov(74);}
  .sm-h-95{height: mov(95);}
  .sm-h-249{height: mov(249);}
  .sm-h-279{height: mov(279);}
  .sm-h-315{height: mov(315);}
  .sm-h-434{height: mov(434);}
  .sm-h-344{height: mov(344);}
}