.ml-auto{margin-left: auto;}
.mr-auto{margin-right: auto;}
.mx-auto{@extend .ml-auto;@extend .mr-auto;}
.mb-0, .mb-0 > p{margin-bottom: 0;}
.mb-13, .mb-13 > p{margin-bottom: desk(13);}
.mr-8{margin-right: desk(8);}
.mr-11{margin-right: desk(11);}
.ml-15{margin-left: desk(15);}
.mb-16{margin-bottom: desk(16);}
.mb-18{margin-bottom: desk(18);}
.mr-23{margin-right: desk(23);}
.mb-29{margin-bottom: desk(29);}
.mt-29{margin-top: desk(29);}
.mt-32{margin-top: desk(32);}
.mb-32{margin-bottom: desk(32);}
.mt-35{margin-top: desk(35);}
.mb-39{margin-bottom: desk(39);}
.mt-43{margin-top: desk(43);}
.mt-44{margin-top: desk(44);}
.mt-58{margin-top: desk(58);}
.mt-63{margin-top: desk(63);}
.mt-132{margin-top: desk(132);}
.mt-142{margin-top: desk(142);}
.mt-156{margin-top: desk(156);}

.mx-33{
  margin-left: desk(33);
  margin-right: desk(33);
  @media (max-width: 767px){
    margin-left: initial;
    margin-right: initial;
  }
}

.mx-50{
  margin-left: desk(50);
  margin-right: desk(50);
  @media (max-width: 767px){
    margin-left: initial;
    margin-right: initial;
  }
}

.text-mb-0 > p{margin-bottom: 0;}

@media (max-width: 767px){
  .sm-mx-auto{margin-left: auto;margin-right: auto;}
  .sm-mt-0{margin-top: 0}
  .sm-mr-4{margin-right: mov(4)}
  .sm-mr-8{margin-right: mov(8)}
  .sm-ml-14{margin-left: mov(14)}
  .sm-mb-20{margin-bottom: mov(20)}
  .sm-mt-12{margin-top: mov(12)}
  .sm-mt-24{margin-top: mov(24)}
  .sm-mt-42{margin-top: mov(42)}
  .sm-mt-48{margin-top: mov(48)}
  .sm-mt-47{margin-top: mov(47)}
  .sm-mt-40{margin-top: mov(40)}
  
}