.px-0{
  padding-left: 0;
  padding-right: 0;
}

.px-0,.px-0[class*="grid-"]{
  padding-left: 0;
  padding-right: 0;
}

.px-62{
  padding-left: desk(62);
  padding-right: desk(62);
}
.px-20{
  padding-left: desk(20);
  padding-right: desk(20);
}

.pt-5{padding-top: desk(5);}
.pt-36{padding-top: desk(36);}
.pb-36{padding-bottom: desk(36);}
.pt-44{padding-top: desk(44);}
.pb-44{padding-bottom: desk(44);}
.pt-49{padding-top: desk(49);}
.pt-68{padding-top: desk(68);}
.pl-69{padding-left: desk(69);}
.pt-71{padding-top: desk(71);}
.pb-71{padding-bottom: desk(71);}
.pr-75{padding-right: desk(75);}
.pt-77{padding-top: desk(77);}
.pb-77{padding-bottom: desk(77);}
.pb-78{padding-bottom: desk(78);}
.pt-82{padding-top: desk(82);}
.pb-87{padding-bottom: desk(87);}
.pl-90{padding-left: desk(90);}
.pt-93{padding-top: desk(93);}
.pr-103{padding-right: desk(103);}
.pb-103{padding-bottom: desk(103);}
.pl-107{padding-left: desk(107);}
.pl-119{padding-left: desk(119);}
.pb-129{padding-bottom: desk(129);}
.pl-134{padding-left: desk(134);}
.pt-142{padding-top: desk(142);}
.pt-149{padding-top: desk(149);}
.pt-152{padding-top: desk(152);}
.pb-152{padding-bottom: desk(152);}
.pb-203{padding-bottom: desk(203);}
.px-260px{padding-left: 260px;padding-right: 260px;}
.px-69{padding-left: desk(69);padding-right: desk(69);}

@media (max-width: 767px){
  .sm-pt-0{padding-top: mov(0);}
  .sm-pb-0{padding-bottom: mov(0);}
  .sm-pt-20{padding-top: mov(20);}
  .sm-pt-22{padding-top: mov(22);}
  .sm-pt-23{padding-top: mov(23);}
  .sm-pt-24{padding-top: mov(24);}
  .sm-pt-37{padding-top: mov(37);}
  .sm-pt-39{padding-top: mov(39);}
  .sm-pb-30{padding-bottom: mov(30);}
  .sm-pb-46{padding-bottom: mov(46);}
  .sm-pb-47{padding-bottom: mov(47);}
  .sm-pb-50{padding-bottom: mov(50);}
  .sm-pb-57{padding-bottom: mov(57);}
  .sm-pt-101{padding-top: mov(101);}
  .sm-pb-71{padding-bottom: mov(71);}

  .sm-px-0, .sm-px-0[class*="grid-"]{padding-right: 0;padding-left: 0;}
  .sm-px-15, .sm-px-15[class*="grid-"]{padding-right: mov(15);padding-left: mov(15);}
  .sm-px-28, .sm-px-28[class*="grid-"]{padding-right: mov(28);padding-left: mov(28);}
  .sm-px-34, .sm-px-34[class*="grid-"]{padding-right: mov(34);padding-left: mov(34);}
  .sm-px-35, .sm-px-35[class*="grid-"]{padding-right: mov(35);padding-left: mov(35);}
}
