.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.fixed{
  position: fixed;
}

.t-0{
  top: 0;
}
.l-0{
  left: 0;
}
.r-0{
  right: 0;
}
.b-0{
  bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   Z INDEX                                  */
/* -------------------------------------------------------------------------- */

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 10;
}

.z-30{
  z-index: 10;
}

.z-100{
  z-index: 100;
}


/* -------------------------------------------------------------------------- */
/*                                    INSET                                   */
/* -------------------------------------------------------------------------- */

.inset-0{
  @extend .t-0;
  @extend .l-0;
  @extend .r-0;
  @extend .b-0;
}

.inset-x-0{
  @extend .l-0;
  @extend .r-0;
}
.inset-y-0{
  @extend .t-0;
  @extend .b-0;
}