.footer-widgets-container{
  max-width: calc(var(--width_pantalla) * (calc(1017/var(--width_base))));
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--width_pantalla) * (calc(89/var(--width_base))));

  @media (max-width: 767px){
    max-width: 100%;
    padding-top: mov(43);
  }
}

.inside-site-info{
  max-width: calc(var(--width_pantalla) * (calc(1017/var(--width_base))));
  padding-bottom: calc(var(--width_pantalla) * (calc(40/var(--width_base))));
  margin-left: auto;
  margin-right: auto;
  
  @media (max-width: 767px){
    max-width: 100%;
    padding-bottom: mov(41);
  }
}

.copyright-bar{
  font-family: $font-mulish;
  font-size: desk(14);
  line-height: desk(18);
  border-top: desk(1) solid #F7F5F1;
  padding-top: desk(28);

  @media (max-width: 767px){
    font-size: mov(14);
    line-height: mov(19);
    padding-top: 0;
    border-top: none;
  }
}

.site-footer:not(.footer-bar-active) .copyright-bar{
  margin-top: desk(31);
}

.footer-widgets .widget-title{
  font-family: $font-mulish;
  font-size: desk(18);
  line-height: desk(23);
  margin-bottom: desk(20);
}

.footer-widgets a{
  font-family: $font-mulish;
  font-size: desk(14);
  line-height: desk(30);
}

@media (max-width: 767px){
  .footer-widget-2, .footer-widget-3, .copyright-bar br{
    display: none;
  }
}

.redes-sociales__imagen{
  width: desk(32);
  height: desk(32);

  @media (max-width: 767px){
    width: mov(30);
    height: mov(30);
  }
}

.redes-sociales__link:not(:last-of-type){
  margin-right: desk(23);
  
  @media (max-width: 767px){
    margin-right: mov(21);
  }
}

.footer-widgets a.redes-sociales__link--tel{
  font-family: $font-mulish-bold;
  font-size: desk(25);
  line-height: desk(31);

  @media (max-width: 767px){
    font-size: mov(14);
    line-height: mov(18);
    margin-bottom: mov(39) !important;
    display: flex;
    justify-content: center;
  }
}

.redes-sociales__imagen--tel{
  @media (max-width: 767px){
    width: mov(16);
    height: mov(16);
    margin-right: mov(6);
  }
}

.footer-widget-4{
  @media (max-width: 767px){
    text-align: center;
  }
}

#media_image-3{
  @media (max-width: 767px){
    text-align: center;
  }
}

.inside-footer-widgets{

  & > div{
    flex: initial;
  }

  @media (max-width: 768px){
    flex-direction: initial;
  }

  @media (max-width: 767px){
    flex-direction: column;
  }
}

@-webkit-keyframes ripple {
  70% {
      -webkit-box-shadow: 0 0 0 50px rgba(27, 215, 65, 0);
      box-shadow: 0 0 0 50px rgba(27, 215, 65, 0)
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(27, 215, 65, 0);
      box-shadow: 0 0 0 0 rgba(27, 215, 65, 0)
  }
}

@keyframes ripple {
  70% {
      -webkit-box-shadow: 0 0 0 50px rgba(27, 215, 65, 0);
      box-shadow: 0 0 0 50px rgba(27, 215, 65, 0)
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(27, 215, 65, 0);
      box-shadow: 0 0 0 0 rgba(27, 215, 65, 0)
  }
}

.tooltip-02 {
  position: fixed;
  z-index: 99;
  right: 23px;
  bottom: 32px
}

.tooltip-02 .ripple,
.tooltip-02 .ripple:before,
.tooltip-02 .ripple:after {
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(27, 215, 65, .3);
  box-shadow: 0 0 0 0 rgba(27, 215, 65, .3);
  top: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}

.tooltip-02 .ripple:before {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  top: 0
}

.tooltip-02 .ripple:after {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  content: "";
  position: absolute;
  top: 0
}

.tooltip-02 .buy-now-btn {
  background-color: rgb(27, 215, 65);
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(35, 50, 56, .1);
  box-shadow: 0 5px 10px 0 rgba(35, 50, 56, .1);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  position: relative;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 1.3em;
  color: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.footer__imagen-logo img{
  width: desk(268);

  @media (max-width: 767px){
    width: mov(177);
  }
}

.footer-widget-1{
  width: desk(376);
  @media (max-width: 767px){
    width: 100%;
    margin-bottom: mov(17) !important;
  }
}
.footer-widget-2{
  width: desk(210);
  @media (max-width: 767px){
    width: 100%;
  }
}
.footer-widget-3{
  width: desk(246);
  @media (max-width: 767px){
    width: 100%;
  }
}